<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../src/assets/js/vue.js"></script>
  <style>
    #login{
      width: 400px;
      height: 400px;
      margin-top: 100px;
      margin-left: 200px;
      background: pink;
    }
    input[type=button]{
      width: 48px;
      height: 28px;
      margin: 10px 70px;
      color: green;

    }
  </style>
</head>
<body>
<div id="login">
  用户名:<input type="text" placeholder="请输入用户名" v-model="username"><br><br>
  密&nbsp;&nbsp;&nbsp;&nbsp;码:<input type="text" placeholder="请输入密码" v-model="password"><br>
  <input type="button" value="登录" @click="aa">
</div>

<script>
  var vm=new Vue({
    el:'#login',
    data:{
        username:'bbb',
        password:'ccc'
    },
    methods:{
        aa:function () {
//          alert('你的用户名为:{{username}}, 你的密码为:{{password}}');
        }
    }
  })
</script>
</body>
</html>
